### Lets import pandas library and create the dataframe we will work on
#### It contain 5 rows and 3 coloumns

In [ ]:
import pandas as pd
data = {'Name' : ['Mazen' , 'Baraa' , 'Omar' , 'Messi' , 'Salah'],
        'Age' : [20 , 30 , 16 , 33 , 54 ],
        'Nationality' : ['Egypt' , 'Palastine' , 'Morocoo' , 'Arganitina' , 'Egypt']}
print(pd.DataFrame(data))

### Lets view the firsst 2 rows 
#### If we left what inside head empty it will by defult view the first 5 rows

In [ ]:
df = pd.DataFrame(data)
df.head(2)

### Lets get how many rows and coloumns in our data frame

In [ ]:
df.shape

### Lets get summary of the DataFrame 
#### Which include the number of non-null entries and the data type of each column
##### Will help us to know if there is any missing data or if there is a coloumn which is assigned to object and it should be int

In [ ]:
df.info()

### Lets get some statistical information

In [ ]:
df.describe()

### We select specific Coloumn

In [ ]:
df['Nationality']

### We can add conditions

In [ ]:
print(df[df['Age']>20])

### Slicing 
#### Using loc the first index and the last one included
#### ->Labeled Based Index<-
#### Note : if we didn't say when the slicing end it will complete slicing by defult till the end of the data frame

In [ ]:
print(df.loc[0:2,'Name':'Age'])
print('--------------------------------')
print(df.loc[1:,'Name':'Age'])

### By using iloc last index not included
#### ->Positional Index<-
#### As well select specific coloumn

In [ ]:
print(df.iloc[0:2,[0,2]])

### Add new coloumn

In [ ]:
df['Jobs'] = ['Student' , 'Engineer' , 'Student' , 'Footballer' , 'Lawyer']
print(df)

### lets update coloumn values

In [ ]:
df['Age'] = df['Age'] + 5
print(df)

### Drop coloumn
#### By defult axis = 0 which will drop row
#### But axis = 1 will drop desired coloumn

In [ ]:
print(df.drop('Nationality' , axis = 1))

### Lets detecte any missing data
#### But first lets add coloumn with empty data

In [ ]:
df['Salary'] = [1000 , None , None , 200000 , 15000]
print(df.isnull())

### Lets get how many missing data in each coloumn 
### And how many missing data in the whole data frame
### And get data type

In [ ]:
print(df.isnull().sum())
print('Total missing data : {}'.format(df.isnull().sum().sum()))

#### We got the option to fill the missing data in any coloumn with any value but I see mean is the best option

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
print(df)

### Or we can just drop these rows

In [ ]:
df['Salary'] = [1000 , None , None , 200000 , 15000]
print(df.dropna())

### Lets apply some functions

In [ ]:
def multbyfive(x):
    return x * 5

df['Salary*5'] = df['Salary'].apply(multbyfive)

print(df)

### Lets group similar Nationality and use mean to calc there avg age and salary

In [ ]:
new_data = {'Age' : [20 , 30 , 16 , 33 , 54 ],
            'Nationality' : ['Egypt' , 'Palastine' , 'Palastine' , 'Arganitina' , 'Egypt'],
            'Salary' : [1000 , 20000 , 500 , 200000 , 15000]}
new_df = pd.DataFrame(new_data)
group = new_df.groupby('Nationality').mean()
print(group)

### Lets get value counts in specific coloumn
### Also we can get how many times a specific value appered in our data frame

In [ ]:
c = new_df['Nationality'].value_counts()
print(c)
print('--------------------------------------')
print('How many time Egypt appered : {}'.format(c['Egypt']))

### Lets add a coloumn with all values of my favourite number

In [ ]:
df['Fav Number'] = 14
df

### Lets delete it

In [ ]:
del df['Fav Number']
df.head()

### Lets delete more than 1 coloumn at once
### And update the data frame

In [ ]:
new_df.drop(['Age','Nationality'], axis =1,inplace = True)
new_df

### Lets upload new data from csv file
### And replace all these missing data with NaN
### This is global search

In [ ]:
df_missing = pd.read_csv("Data/Missing_Data.csv", na_values=["NaN", "not available"])
df_missing

#### -1 in Temp is not a missing data as Temp could be negtive but participation can't be -1
#### Now all these missing data will be replaced by NaN

In [ ]:
df_missing = pd.read_csv("Data/Missing_Data.csv", na_values={"Mini_Exam2": "not available", "Participation1": -1})
df_missing

# Thank you